/* 
TABLE OF CONTENTS
1. Utility Classes
2. Universal Modification
3. Header Modification
4. HOMEPAGE 
    4.1 Home page big-image
    4.2 Home page big-paragraph 
    4.3 Grid menu images sizing 
    4.4 Feedback modification 
5. Footer 
6 .Media Query for Landing Page 
7. Login Page 
8. Menu Page 
9. 404 Page 
10. About Page 
11. Find Store
*/


/* 1. Utility Classes */
.fnt-outfit{
    font-family: 'Outfit', sans-serif;
}
.fnt-roboto{
    font-family: 'Roboto', sans-serif;
}
.fs-7{
    font-size: 13px;
}
.ms-6 {
    margin-left: 189px;
}

.me-6 {
    margin-right: 189px;
}
.mt-6 {
    margin-top: 109px;
}
.text-brown {
    color: #281D05;
}
.bg-gold {
    background: #281D05;
}
.bg-brown {
    background: #B29F91;
}

.bg-lightbrown {
    background-color: #D6A082;
}
.bg-lightgreen {
    background-color: #B9C154;
}
.bg-cream {
    background-color: #F2C9B1;
}
.bg-darkgreen {
    background-color: #8E8948;
}
.btn-outline-darkgreen{
        --bs-btn-color: #8E8948;
            --bs-btn-border-color: #8E8948;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #8E8948;
            --bs-btn-hover-border-color: #8E8948;
            --bs-btn-focus-shadow-rgb: 25, 135, 84;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #8E89484;
            --bs-btn-active-border-color: #8E8948;
            --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #8E8948;
            --bs-btn-disabled-bg: transparent;
            --bs-btn-disabled-border-color: #8E8948;
            --bs-gradient: none;
    color: #8E8948;
}

/* 2. Universal Modification */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}
html{
    scroll-behavior: smooth;
}
.btn {
    transition: transform 0.3s;
    font-family: 'Outfit', sans-serif;

}
.btn:hover{
    transform: translateY(-5px);
    color: #8E8948 ;
}
.btn:active{
    color: #281D05;
}
.btn:first-child:active{
    border-color: transparent;
}
.btn:visited{
    border: none;

}
p{
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: #F2C9B1;
}

footer i, i{
    width: 22px;
    height: 22px;
    color: #8E8948;
}


/* 3. Header Modification */
#brand-logo {
    width: 72.7px;
    height: 66.73px;
}

nav {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

.img-boncafe {
    width: 50vw;
    height: 50vh;
}

.img-boncafe1 {
    width: 705px;
    height: 356px;
}

/* 4. HOMEPAGE */

/* 4.1 Home page big-image */
.img-big{
background-image: url(../assets/img/boncafe1.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.49;
height: 759px;
}
/* 4.2 Home page big-paragraph */
.p-big{
    font-family: 'Outfit', sans-serif;
    color: #F2C9B1;
    font-size: 100px;
}
.prof-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}
/* 4.3 Grid menu images sizing */
.rows{
    width: 656px;
    height: 637px;
}
.menu-img{
    width: 656px;
    height: 423px;
    padding: 0;
}
.menu-img1{
    width: 1065px;
    height: 360px;
    padding: 0;
}
/* 4.4 Feedback modification */
.feedback-body{
    margin: auto;
}
.feedback{
    margin: 50px 0 100px 0;
}
.feedback-rows{
    background: rgba(214, 160, 130, 0.75);
        border-radius: 15px;

}
.fb-img{
    width: 100px;
    height: 100px;
}

figure blockquote{
    padding: 0 5px 0 5px;
}
figure p {
    margin-top: 10vh;
    text-align: left;
}

.signup-box{
background: linear-gradient(266.38deg, #B9C154 34.44%, #8E8948 60.22%);
}

/* 5. Footer */

.footer-data{
    padding: 5vw 5vh;

}
/* 6 .Media Query for Landing Page */
@media (min-width:1400px) {
        .feedback-rows {
                width: 322px;
                height: 50vh;
            }
        .feedback-header {
            font-size: 48px;
        }
}
@media (max-width:1400px) {
    /* Grid menu images sizing */
        .rows {
            width: 566px;
            height: 507px;
        }
    
        .menu-img {
            width: 566px;
            height: 323px;
        }
        .feedback-rows {
            width: 277px;
            height: 50vh;
        }
    .feedback-header{
        font-size: 36px;
    }

}

@media (max-width:1200px) {
    .img-big{
        height: 709px;
    }
    .ms-6 {
        margin-left: 101px;

    }
    .me-6 {
        margin-right: 101px;
    }
    .img-boncafe {
        width: 436.27px;
        height: 227.15px;
    }
        /* Grid menu images sizing */
        .rows {
            width: 476px;
            height: 437px;
        }
        .menu-img {
            width: 476px;
            height: 227.15px;
        }
    
        .menu-img1 {
            width: 585.85px;
            height: 250.36px;
        }
        .feedback-rows {
            width: 472px;
            height: 351px;
        }
                .feedback-header {
                    font-size: 28px;
                }
}
@media (max-width:992px) {
    .rows {
            width: 48.9vw;
      
        }
    
        .menu-img {
            width: 48.9vw;
            height: 227.15px;
        }
    /* Feebcack row */
    .feedback-rows{
        width: 342px ;
        height: 45vh ;
    }
}
@media (max-width:768px) {
    .rows {
            width: 100vw;
            height: 48vh;
        }
    
        .menu-img {
            width: 100vw;
            height: 30vh;
        }
    .feedback-rows {
        width: 502px;
        height: 35vh;
    }
}

@media (max-width:576px){
    .ms-6 {
        margin-left: 60px;
    
    }
    
    .me-6 {
        margin-right: 60px;
    }

    /* Grid menu images sizing */

.row1{
    width: 100vw;
    height: 30vh;
}
    .rows {

        width: 100vw;
        height: 40vh;
    }
    .menu-img {
        width: 100vw;
        height: 229px;
    }

    .menu-img1 {
        width: 100vw;
        height: 30vh;
    }
    .feedback-rows {
        width: 432px;
        height: 400px;
    }
    .feedback-files{
        margin: 0px 6vw;
    }
}

/* 7. Login Page */
.img-bg{
    background-image: url(../assets/img/boncafe2.jpg);
    background-size: cover;   
}
.welcome-greet, .accnt-description{
    color: white;
}
.login-greet, .fgt-btn, .signup-btn{
    color: #281D05;
}
.login-form{
    vertical-align: middle;
    margin-top: 20vh;
    margin-bottom: 20vh;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 50px;
    padding: 45px 62px 43px 62px;
    height:595px ;
    width: 448px;
    
}

.form-control{
        width: 50vh;
        margin: auto;
}
.pass-info{
    width: 10px;
    height: 10px;
}
.pass-hidden{
    position: absolute;
    width: 18px;
    height: 15px;
    left: 847px;
    top: 559px;
}
.username, .username-pass, .username-email{
    width: 315px;
    height: 60px;
}
.username::placeholder, .username-pass::placeholder, .username-email::placeholder{
    text-align: start;
}
.btn-login, .btn-signup{
    width: 315px;
    height: 54px;
    background: linear-gradient(101.87deg, #CB8A58 39.1%, #562B1A 114.65%);
border-radius: 17px;

}
.login-btn:hover, .signup-btn:hover, .fgt-btn:hover{
    background-color: transparent;
    transform: translateY(0);
}
.show-hide{
    top: 0;

}

@media (max-width:576px){
    .login-form{
        margin: 145px 42px 111px 43px;
    }
    .username, .username-pass, .username-email{
        width: 340.62px;
        height: 60px;
    }
    .img-bg{
        background-image: none;
    }
    .welcome-greet{
        color: black;
    }
    .login-greet{
        color: #8F9698;
    }
    .fgt-btn, .signup-btn, .login-btn{
        color: #8E8948;
    }
    .accnt-description{
        color: black;
    }
    .btn-login, .btn-signup{
        width: 345px;

    }
}

/* 8. Menu Page */
.menu-bg{
    width: 100vw;
    height: 50vh;
}
.bg-menu{
    background: linear-gradient(90.56deg, #DCB28A 19.7%, #F1CD93 72.04%);
}
.menu-name-bg{
    padding: 22px 0px 22px 188px;
    
}
.menuImg{
    width: 127px;
    height: 124px;
}
.item-image{
    height: 417px ;
    width: 437px ;
}
.menu-modal .modal{
    --bs-modal-width: 1000px;
}
.menu-modal .modal-header{
    border-bottom: none;
    padding: 16px 16px 0px 16px;
}

tr:hover{
    background-color: #b29f919a;
    border-radius: 5px;
}


@media (max-width:768px){
    .menu-name-bg {
            padding: 22px 0px 22px 100px;
    
        }
    .menu-item{
        width: 90vw ;

    }
}
@media (max-width:576px){
    .menu-name-bg {
            padding: 22px 0px 22px 50px;
    
        }
    .item-image {
        height: 40vh;
        width: 80vw;
    }
}

/* 9. 404 Page */
.img404{
height: 80vh;
    width: 40vw;
}

/* 10. About Page */
.about-img{
    width: 50vw;
    height: 100%;
}

/* 11. Find store */
.contact-details{
    margin: 200px 50px 200px 0px;
}
.findourstore-img{
    height: 70vh;
    width: 40vw;
}
.store-info{
    height: 653px ;
}


